<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Graph viewer</title>
  </head>
  <body>
    <header>
      <h1>Graph viewer</h1>
    </header>
    <main class="container">
      <canvas id="viewer" width="100%" height="90vh"></canvas>
    </main>

    <script src="{{ url_for('static', filename='main.js') }}"></script>
  </body>
</html>
